<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDir" value="logs" />
  <variable name="format" value="${date:format=yyyy-MM-ddTHH\:mm\:sszzz} [${logger}].[${level}][${trace_identifier}][${user_identity_name}]${newline}${message} ${exception:format=tostring}" />
  <targets>
    <target name="all"
            xsi:type="File"
            layout="${format}"
            fileName="${logDir}/all.log"
            archiveFileName="${logDir}/all.{#}.log.zip"
            archiveEvery ="Day"
            archiveDateFormat="yyyyMMddHHmmss"
            archiveNumbering="Date"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="false"
            enableArchiveFileCompression="true"
            encoding="utf-8" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="all" />
  </rules>
</nlog>